<div class="container mt-5">
  <div class="row gy-3">
    <form>
      <div class="row">
        <p class="info mt-4">My Profile</p>
      </div>
      <div class="row form-row mt-4">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="etatus" class="form-label"
            >E-Status(as per March 31st)</label
          >
          <input
            class="form-control"
            id="estatus"
            type="text"
            placeholder="E1"
            disabled
          />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="ecode" class="form-label">Employee Code</label>
          <input
            class="form-control"
            id="ecode"
            type="text"
            placeholder="Employee Code"
          />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="name" class="form-label">Name</label>
          <input
            class="form-control"
            id="name"
            type="text"
            placeholder="Name"
          />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="email" class="form-label">Email</label>
          <input
            class="form-control"
            id="email"
            type="text"
            placeholder="Email"
          />
        </div>
      </div>
      <div class="row form-row mt-4">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="cno" class="form-label">Contact No.</label>
          <input
            class="form-control"
            id="cno"
            type="text"
            placeholder="1234567890"
          />
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <div class="row">
            <div class="row">
              <label for="dob" class="form-label">Birthday</label>
            </div>
            <div class="col">
              <input
                class="form-control"
                id="dob"
                type="text"
                placeholder="DOB"
              />
            </div>
            <div class="col">
              <input
                class="form-control"
                id="month"
                type="text"
                placeholder="Month"
              />
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="hqn" class="form-label">HQ Name</label>
          <input
            class="form-control"
            id="hqn"
            type="text"
            placeholder="HQ Name"
          />
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="hqc" class="form-label">HQ Code</label>
          <input
            class="form-control"
            id="hqc"
            type="text"
            placeholder="HQ Code"
          />
        </div>
      </div>
      <div class="row form-row mt-4">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="divi" class="form-label">Division</label>
          <input
            class="form-control"
            id="divi"
            type="text"
            placeholder="Proton"
          />
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="asm" class="form-label">Name of ASM</label>
          <input
            class="form-control"
            id="asm"
            type="text"
            placeholder="Pawan kumar"
          />
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="zsm" class="form-label">Name of ZSM</label>
          <input
            class="form-control"
            id="zsm"
            type="text"
            placeholder="Kundan Sharma"
          />
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="sm" class="form-label">HQ Code</label>
          <input
            class="form-control"
            id="sm"
            type="text"
            placeholder="Kaushar Sharma"
          />
        </div>
      </div>
      <div class="row form-row mt-5">
        <div class="col-lg-4 col-4">
          <button class="btn btn-primary btn-block">Update</button>
        </div>
        <div class="col-lg-4 col-4"></div>
        <div class="col-lg-4 col-4"></div>
        <div class="col-lg-4 col-4"></div>
      </div>
    </form>
  </div>
</div>
