<div class="container mt-5">
  <div class="row gy-3">
    <div class="row infotab">
      <div class="info mt-4">Know Your Customer</div> <div class="p2">*All the fields are mandatory</div>
    </div>
    <div class="row form-row mt-3">
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="etatus" class="form-label">Name of Doctor*</label>
        <input class="form-control" id="estatus" type="text" placeholder="" />
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="ecode" class="form-label">Speciality*</label>
        <input class="form-control" id="ecode" type="text" placeholder="" />
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="name" class="form-label">Degree*</label>
        <input class="form-control" id="name" type="text" placeholder="" />
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <div class="row">
          <div class="row">
            <label for="dob" class="form-label">Birthday*</label>
          </div>
          <div class="col">
            <input
              class="form-control"
              id="dob"
              type="text"
              placeholder="Date"
            />
          </div>
          <div class="col">
            <input
              class="form-control"
              id="month"
              type="text"
              placeholder="Month"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row form-row mt-4">
      <div class="col-lg-4 col-md-4col-sm-6 col-12">
        <div class="row">
          <div class="row">
            <label for="dob" class="form-label">Marriage Anniversary*</label>
          </div>
          <div class="col">
            <input
              class="form-control"
              id="dob"
              type="text"
              placeholder="Date"
            />
          </div>
          <div class="col">
            <input
              class="form-control"
              id="month"
              type="text"
              placeholder="Month"
            />
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="cno" class="form-label">Mobile Number*</label>
        <input class="form-control" id="cno" type="text" placeholder="" />
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="email" class="form-label">Email Address*</label>
        <input class="form-control" id="email" type="text" placeholder="" />
      </div>
    </div>
    <div class="row form-row mt-4">
      <p class="">Clinic Address</p>
    </div>
    <div class="row form-row mt-2">
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="hno" class="form-label">House No*</label>
        <input class="form-control" id="hno" type="text" placeholder="" />
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="area" class="form-label">Area*</label>
        <input class="form-control" id="area" type="text" placeholder="" />
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="floor" class="form-label">Floor</label>
        <input class="form-control" id="floor" type="text" placeholder="" />
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="landmark" class="form-label">Landmark</label>
        <input class="form-control" id="landmark" type="text" placeholder="" />
      </div>
    </div>
    <div class="row form-row mt-4">
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="city" class="form-label">City*</label>
        <input class="form-control" id="city" type="text" placeholder="" />
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="state" class="form-label">State*</label>
        <input class="form-control" id="state" type="text" placeholder="" />
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="zip" class="form-label">Zipcode*</label>
        <input class="form-control" id="zip" type="text" placeholder="" />
      </div>
    </div>
    <div class="row form-row mt-4">
      <p class="">Residential Address</p>
    </div>
    <div class="row form-row mt-2">
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="hno" class="form-label">House No*</label>
        <input class="form-control" id="hno" type="text" placeholder="" />
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="area" class="form-label">Area*</label>
        <input class="form-control" id="area" type="text" placeholder="" />
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="floor" class="form-label">Floor</label>
        <input class="form-control" id="floor" type="text" placeholder="" />
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="landmark" class="form-label">Landmark</label>
        <input class="form-control" id="landmark" type="text" placeholder="" />
      </div>
    </div>
    <div class="row form-row mt-4">
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="city" class="form-label">City*</label>
        <input class="form-control" id="city" type="text" placeholder="" />
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="state" class="form-label">State*</label>
        <input class="form-control" id="state" type="text" placeholder="" />
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="zip" class="form-label">Zipcode*</label>
        <input class="form-control" id="zip" type="text" placeholder="" />
      </div>
    </div>
    <div class="row form-row mt-4">
      <p class="">Where would you like to receive the samples*</p>
    </div>
    <div class="row form-row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-6">
        <div class="form-check">
          <input class="form-check-input mt-2" type="checkbox" value="" id="cadd" />
          <label class="form-check-label" for="cadd"> Clinic Address </label>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-6">
        <div class="form-check">
          <input class="form-check-input mt-2" type="checkbox" value="" id="radd" />
          <label class="form-check-label" for="radd">
            Residential Address
          </label>
        </div>
      </div>
    </div>
    <div class="row form-row mt-4 gx-3">
      <label for="zip" class="form-label">Product Required</label>
      <div class="col-lg-2 col-md-2 col-sm-4 col-12">
        <input
          class="form-control"
          id="zip"
          type="text"
          placeholder="Product 1"
        />
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-12">
        <input
          class="form-control"
          id="zip"
          type="text"
          placeholder="Product 2"
        />
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-12">
        <input
          class="form-control"
          id="zip"
          type="text"
          placeholder=" Product 3"
        />
      </div>
    </div>
    <div class="row form-row mt-3">
        <div class="form-check">
          <input class="form-check-input mt-2" type="checkbox" value="" id="cadd" />
          <label class="form-check-label" for="cadd"> Do you want us to serve this requirement every month </label>
        </div>
    </div>

    <!--Horzontal ruler-->
    <hr>

    <!--Sales Officer Details-->
    <div class="row form-row mt-4">
        <p class="">Sales Officer Details</p>
    </div>
    <div class="row form-row mt-2">
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="division" class="form-label">Division Name*</label>
        <select class="form-select form-select-sm" id="division">
            <option selected>Division</option>
            <option value="1">Proton1</option>
            <option value="2">Proton2</option>
            <option value="3">Proton3</option>
          </select>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="status" class="form-label">Status as per E-Data*</label>
        <input class="form-control" id="status" type="text" placeholder="E1" disabled/>
      </div>
    
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="name" class="form-label">Name*</label>
        <input class="form-control" id="name" type="text" placeholder="" />
      </div>
    
      <div class="col-lg-3 col-md-3 col-sm-6 col-12">
        <label for="hq" class="form-label">HQ*</label>
        <input class="form-control" id="hq" type="text" placeholder="" />
      </div>
    </div>
    <div class="row form-row mt-4">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <label for="msl" class="form-label">MSL*</label>
            <input class="form-control" id="msl" type="text" placeholder="" />
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <label for="empcode" class="form-label">Employee Code*</label>
            <input class="form-control" id="empcode" type="text" placeholder="" />
          </div>

          <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <label for="date" class="form-label">Date & Time*</label>
            <input class="form-control" id="date" type="date" placeholder="" />
          </div>
    </div>
    <!--Submit Button-->
    <div class="row form-row mt-5">
      <div class="col-lg-4 col-4">
        <button class="btn btn-primary btn-block">Submit</button>
      </div>
      <div class="col-lg-4 col-4"></div>
      <div class="col-lg-4 col-4"></div>
      <div class="col-lg-4 col-4"></div>
    </div>
  </div>
</div>
