<div class="container mt-4">
  <div class="row form-row">
    <p class="info mt-4">ROI<small> (Month-wise Rupee-wise business)</small></p>
  </div>
  <div class="roi-table">
    <form>
      <div class="table-responsive">
        <!--Header Row-->
        <table class="table table-fixed" rules="none">
          <thead>
            <tr class="table-heading-row">
              <th>Date of Investment</th>
              <th>Voucher no./ Month</th>
              <th>Used for Dr.</th>
              <th>MSL No.</th>
              <th>Product 1</th>
              <th>Product 2</th>
              <th>Product 3</th>
              <th>Apr</th>
              <th>May</th>
              <th>Jun</th>
              <th>Jul</th>
              <th>Aug</th>
              <th>Sep</th>
              <th>Oct</th>
              <th>Nov</th>
              <th>Dec</th>
              <th>Jan</th>
              <th>Feb</th>
              <th>Mar</th>
            </tr>
          </thead>
          <tbody>
            <!--Data Rows-->
            <tr>
              <td>
                <input
                  class="form-control inp1"
                  id="soi"
                  type="date"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="vouchn"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="usedfor"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="msl"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p1"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p2"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p3"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="apr"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="may"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jun"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jul"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="aug"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="sep"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="oct"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="nov"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="dec"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jan"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="feb"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="mar"
                  type="text"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td>
                <input
                  class="form-control inp1"
                  id="soi"
                  type="date"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="vouchn"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="usedfor"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="msl"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p1"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p2"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p3"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="apr"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="may"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jun"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jul"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="aug"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="sep"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="oct"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="nov"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="dec"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jan"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="feb"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="mar"
                  type="text"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td>
                <input
                  class="form-control inp1"
                  id="soi"
                  type="date"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="vouchn"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="usedfor"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="msl"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p1"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p2"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p3"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="apr"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="may"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jun"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jul"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="aug"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="sep"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="oct"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="nov"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="dec"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jan"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="feb"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="mar"
                  type="text"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td>
                <input
                  class="form-control inp1"
                  id="soi"
                  type="date"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="vouchn"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="usedfor"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="msl"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p1"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p2"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p3"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="apr"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="may"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jun"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jul"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="aug"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="sep"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="oct"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="nov"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="dec"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jan"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="feb"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="mar"
                  type="text"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td>
                <input
                  class="form-control inp1"
                  id="soi"
                  type="date"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="vouchn"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="usedfor"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="msl"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p1"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p2"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p3"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="apr"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="may"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jun"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jul"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="aug"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="sep"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="oct"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="nov"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="dec"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jan"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="feb"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="mar"
                  type="text"
                  placeholder=""
                />
              </td>
            </tr>
            <tr>
              <td>
                <input
                  class="form-control inp1"
                  id="soi"
                  type="date"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="vouchn"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="usedfor"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control inp1"
                  id="msl"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p1"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p2"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="p3"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="apr"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="may"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jun"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jul"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="aug"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="sep"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="oct"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="nov"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="dec"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="jan"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="feb"
                  type="text"
                  placeholder=""
                />
              </td>
              <td>
                <input
                  class="form-control"
                  id="mar"
                  type="text"
                  placeholder=""
                />
              </td>
            </tr>
          </tbody>
        </table>

        <!--Data Rows Ends-->
      </div>
    </form>
  </div>
  <div class="row form-row mt-3 mb-4">
    <div class="col-lg-4 col-4">
      <button class="btn btn-primary btn-block mb-4">Submit</button>
    </div>
    <div class="col-lg-4 col-4"></div>
    <div class="col-lg-4 col-4"></div>
    <div class="col-lg-4 col-4"></div>
  </div>
</div>
