<div class="container-fluid img-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-12 formCol">
      <div class="row text-center">
        <img
          class="logo1 rounded mx-auto d-block"
          src="./../../../../assets/img/ozone-logo2.png"
          alt=""
        />
      </div>
      <div class="row"></div>
      <div class="row">
        <img
          class="logo2 rounded mx-auto d-block"
          src="./../../../../assets/img/vou-logo.png"
          alt=""
        />
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12"></div>
  </div>
  <div class="row float-end hi">
    <div class="row mt-4">
      <div class="container">
        <form class="mx-auto">
          <div class="form-group">
            <div class="form-row gx-2 mb-4 firstInputRow">
              <div class="row formRow">
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                  <input
                    formControlName="fullname"
                    type="text"
                    class="form-control mb-5"
                    placeholder="Full Name"
                  />
                  <div class="login-user-ico1"><i class="las la-user"></i></div>

                  <input
                    formControlName="password"
                    type="text"
                    class="form-control mb-4"
                    placeholder="Password"
                  />
                  <div class="login-user-ico5"><i class="las la-lock"></i></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                  <input
                    formControlName="email"
                    type="text"
                    class="form-control mb-5"
                    placeholder="Email"
                  />
                  <div class="login-user-ico2">
                    <i class="las la-envelope"></i>
                  </div>

                  <input
                    formControlName="confirm_password"
                    type="text"
                    class="form-control"
                    placeholder="Confirm Password"
                  />
                  <div class="login-user-ico6"><i class="las la-lock"></i></div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                  <input
                    formControlName="ecode"
                    type="text"
                    class="form-control mb-5"
                    placeholder="Employee Code"
                  />
                  <div class="login-user-ico3">
                    <i class="las la-address-card"></i>
                  </div>

                  <input
                    formControlName="estatus"
                    type="text"
                    class="form-control"
                    placeholder="E-Status"
                  />
                  <div class="login-user-ico7">
                    <i class="las la-square-root-alt"></i>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                  <input
                    formControlName="contact_no"
                    type="text"
                    class="form-control mb-5"
                    placeholder="Contact No."
                  />
                  <div class="login-user-ico4">
                    <i class="las la-phone"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row gx-2">
              <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="d-grid">
                  <button class="btn btn-primary">Sign Up</button> 
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12  logintab">
                <strong>Back to</strong> <b><a class="m-2" routerLink="/login">Log in</a></b>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12 docImg">
                <img src="./../../../../assets/img/login-doctors.png" alt="DocTag" height="300" width="auto">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
