<nav class="navbar navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="./../../../../assets/img/ozone-logo.png"
        alt=""
        width="150"
        height="34"
      />
    </a>
  </div>
</nav>

<div class="container container2 bg-white mt-4">
  <div class="row">
    <p class="info mt-4">Hello Doctor, Please verify the KYC form</p>
  </div>
  <div class="row mt-4">
    <form>
      <div class="form-row row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="name" class="form-label">Name of Doctor</label><br />
          <label for="name" class="form-label"
            ><strong> Dr. Ashok Awasthi</strong>
          </label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="name" class="form-label">Speciality</label><br />
          <label for="name" class="form-label"
            ><strong> Sr. Cardiologist</strong>
          </label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="name" class="form-label">Degree</label><br />
          <label for="name" class="form-label"
            ><strong> PGDCC</strong>
          </label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="name" class="form-label">Birhday</label><br />
          <label for="name" class="form-label"
            ><strong> 24 August</strong>
          </label>
        </div>
      </div>
      <div class="form-row row mt-4">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="name" class="form-label">Marriage Anniversary</label><br />
          <label for="name" class="form-label"
            ><strong> 25 August</strong>
          </label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="name" class="form-label">Mobile Number</label><br />
          <label for="name" class="form-label"
            ><strong> 1234567890</strong>
          </label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="name" class="form-label">Email Address</label><br />
          <label for="name" class="form-label"
            ><strong> DrAshokAwasthi@gmail.com</strong>
          </label>
        </div>
      </div>
      <div class="form-row row mt-4  mb-4 checkRow">
        <div class="col-lg-3 col-md-3 col-sm-3 col-12 checkRow1">
            <label class="form-check-inline">Preferred Address for receiving samples*</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-12 checkRow2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="cadd" />
                <label class="form-check-label" for="cadd"> Clinic Address </label>
              </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-12 checkRow2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="radd" />
                <label class="form-check-label" for="radd"> Residential Address </label>
              </div>
        </div>
      </div>
      <div class="form-row row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="name" class="form-label">House No</label><br />
          <label for="name" class="form-label"
            ><strong> #295/2</strong>
          </label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="name" class="form-label">Area</label><br />
          <label for="name" class="form-label"
            ><strong> Rohini Sec 1</strong>
          </label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="name" class="form-label">Floor</label><br />
          <label for="name" class="form-label"
            ><strong> Ground Floor</strong>
          </label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="name" class="form-label">Landmark</label><br />
          <label for="name" class="form-label"
            ><strong> Near Avantika Chowk</strong>
          </label>
        </div>
      </div>
      <div class="form-row row mt-4">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="name" class="form-label">City</label><br />
          <label for="name" class="form-label"
            ><strong> New Delhi</strong>
          </label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="name" class="form-label">State</label><br />
          <label for="name" class="form-label"
            ><strong> Delhi</strong>
          </label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
          <label for="name" class="form-label">Zipcode</label><br />
          <label for="name" class="form-label"
            ><strong> 122003</strong>
          </label>
        </div>
      </div>
      <div class="form-row row mt-4">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12">
            <label for="name" class="form-label">Product Required</label><br />
            <label for="name" class="form-label"
              ><strong> Product Name</strong>
            </label>
          </div>
      </div>
      <div class="form-row row mt-4">
          <textarea class="form-control" placeholder="Remarks for Rejection"></textarea>
      </div>
      <div class="form-row row mt-4">
        <button class="btn btn-primary">Approve</button>
        <button class="btn btn-secondary">Reject</button>
      </div>
    </form>
  </div>
</div>

<div class="logo-footer"><p>© Ozone Pharma All rights reserved.</p></div>
